[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/IgnisCodex/glfw
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/IgnisCodex/spdlog
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
